<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= pageTitle %></title>
    <link rel="stylesheet" href="/main.css">
</head>
<body>

<%- include("../includes/navbar") %>

<div class="auth-container">
    <form action="/login" method="POST" class="auth-form">

        <h2>Login</h2>

        <input
            type="email"
            name="email"
            placeholder="Enter your email"
            required
        >

        <input
            type="password"
            name="password"
            placeholder="Enter your password"
            required
        >
        <input type="hidden" name="_csrf" value="<%= _csrf %>">
        <button type="submit" class="blog-card-btn">
            Login
        </button>

    </form>
</div>

</body>
</html>