
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/reset.css">
    <link rel="stylesheet" href="/main.css">
</head>
<body>
    <div class="auth-container">
    <div class="auth-card">
        <h1>Forgot Your Password?</h1>
        <% if(errorMessage){ %>
        <div class="error-message">
        <%= errorMessage %>
        </div>
        <% } %>
        <p class="auth-subtitle">
            Enter your email address and we'll send you a link to reset your password.
        </p>

        <form action="/reset" method="POST">
            <input
                type="email"
                name="email"
                placeholder="Enter your email"
                required
            >

            <input type="hidden" name="_csrf" value="<%= _csrf %>">

            <button type="submit">
                Send Reset Link
            </button>
        </form>
    </div>
</div>

<%- include('../includes/footer') %>

</body>
</html>